<as-split direction="vertical" unit="percent" >
  <as-split-area [size]="70" class="main">
    <mat-card class="card">
      <mat-form-field class="expression-form-field" appearance="fill" floatLabel="never" color="primary">
        <mat-label>Expression</mat-label>
        <input matInput type="text" [(ngModel)]="expression" autocomplete="off" (keyup.enter)="calculate()">
        <button *ngIf="expression" matSuffix mat-icon-button aria-label="Clear" (click)="expression=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-card>
  </as-split-area>
  <as-split-area [size]="30" >
    <as-split direction="horizontal" unit="percent">
      <as-split-area [size]="10">
        
      </as-split-area>
      <as-split-area [size]="90">
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
          rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
          consequuntur magni dolores eodolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
          tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
          nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
          autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel
          illum qui dolorem eum fugiat quo voluptas nulla pariatur?
        </p>
      </as-split-area>          
    </as-split>      
  </as-split-area>          
</as-split>
      